.introContainer{
  margin-bottom: 1.5rem;
}
.title {
    margin: 0;
    line-height: 1.15;
    font-size: 2rem;
  }
  
  .title{
    text-align: center;
  }
  .description{
      text-align: center;
  }  