.main{
    width: 100%;
    max-width: 1500px;
    min-height: 100vh;
    background: #f6f9f7;
}
.navigation{
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding: .5rem 8rem;
    background: #fff;
    justify-content: flex-end;
}
.container{
    padding: .5rem 8rem;
}
.footer{
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding: .5rem 8rem;
    background: #fff;
    justify-content: center;
}

@media screen and (max-width: 909px) {
    .container, .navigation, .footer{
        padding: 0.5rem;
    }
}